body{
    background-color: antiquewhite;
}
.practice{
font-size: 40px;
background-color: rgb(61, 58, 53);
color: #fff;
padding-top: 50px;
padding-bottom: 20px;
}
.add-user{
    margin-left: 1190px;
    
}

a {
    text-decoration: none;
}